body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #585858;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    background: #0c4900;
    color: #03a600;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    position: absolute;
    left: 210px; /* Ajusta la posición del logo */
    top: 15px; /* Ajusta la posición del logo */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #000000;
}

.invitados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.invitados img {
    width: 200px; /* Ajusta el tamaño de las imágenes de los invitados */
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

.promociones {
    text-align: center;
    align-items: center;
    background-image: url('imagen-oferta.jpg'); /* Cambia esto por la ruta de tu imagen de fondo */
    width: 400px;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-top: 50px;
    color: rgb(0, 0, 0); /* Cambia el color del texto si es necesario */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.promociones_h2 {
    text-align: center;
    font-size: 35px;
}
